@import '~@scss/vars/grid';

.section.section--auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - var(--header-height) - env(safe-area-inset-bottom));

    .section__welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .section__title {
        margin-bottom: 32px;
        padding-bottom: 22px;
        color: var(--light-gray-2);
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid var(--dark-gray-3);
    }

    .section__content {
        width: 100%;
        box-sizing: border-box;
        padding: 40px;
        background-color: var(--dark-gray);
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
    }

    .section__alert {
        position: relative;
        width: 100%;
        padding: 12px 16px;
        margin-bottom: 20px;
        color: var(--primary);
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        background: #f8d7da;
        border: 0;
        border-radius: 14px;
        box-sizing: border-box;
        outline: 0;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 14px;
            width: 18px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C4.48 0 0 4.48 0 10s4.48 10 10 10 10-4.48 10-10S15.52 0 10 0c-3.68 0-3.68 0 0 0zM9 15v-2h2v2H9zM9 5v6h2V5H9z' fill='%23F0597A' fill-rule='evenodd'/%3E%3C/svg%3E");
            background-size: 18px;
            transform: translateY(-50%);
        }
    }

    .section__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        padding: 16px;
        background-color: var(--dark-gray);
        border-radius: 16px;
        border: 1px solid var(--dark-gray-3);
    }

    .section__lead {
        color: var(--light-gray-3);
        font-size: 12px;
        font-weight: 600;
    }

    .section__link {
        margin-top: 4px;
        font-size: 12px;
    }

    .form-group {
        margin-bottom: 16px;
    }

    .btn.btn--primary {
        margin-top: 10px;
    }
}

@media (min-width: $lg) {
    .section.section--auth {
        justify-content: center;
        margin: 0 auto;
        width: 420px;

        .section__welcome {
            margin-bottom: 42px;
            height: auto;
        }

        .section__content {
            border-radius: 26px;
        }
    }
}
