.card.card--danger-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 16px;
  border: 1px solid var(--dark-gray-3);
  border-radius: 22px;

  .card__title {
    margin-bottom: 16px;
    color: var(--light-gray-2);
    font-size: 12px;
    font-weight: 600;
  }
}
